annotated-types==0.7.0
antlr4-python3-runtime==4.13.2
click==8.2.1
iniconfig==2.1.0
lark==1.2.2
luaparser @ git+https://github.com/boolangery/py-lua-parser.git@3.3.1
markdown-it-py==3.0.0
mdurl==0.1.2
multimethod==2.0
mypy==1.16.0
mypy_extensions==1.1.0
nodeenv==1.9.1
packaging==25.0
pathspec==0.12.1
pluggy==1.6.0
pydantic==2.11.5
pydantic_core==2.33.2
Pygments==2.19.1
pytest==8.3.5
PyYAML==6.0.2
rich==14.0.0
shellingham==1.5.4
typer==0.16.0
typing-inspection==0.4.1
typing_extensions==4.13.2
